.contactus-sub-cont{
    display: flex;
    justify-content: space-evenly;
    /* background-color: whitesmoke; */
    flex-wrap: wrap;
}
.card-holder-full-new{
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.5rem 0;

}
.contactus-boxs{
    margin:  2rem;
    
}
.contactus-boxs h3{
    font-size: 1.5rem;
    font-weight: 550;
    margin-bottom: 0.5rem;
}
.contactus-boxs p{
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.contactus-map{
    width: 100%;
}

.one-view-new{
    width: 100%;
    padding-bottom: 0  !important;
}
.contactus-sub-cont-1{
    background-color: white;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cl-black{
    color: black;
}