.home {
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-home{
  background-image: url("https://res.cloudinary.com/learnhat/image/upload/v1648118564/orion-new-website/orion-infinity/Banner_copy_2x_k3fo6d.png");
  height: 95vh;
}
.home-data-cont{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home-data-subcont-right{
  color: white;
  width: 35%;
  padding: 5rem;
}
.hero-title-1{
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 500;
}
.hero-title-2{
  font-size: 3.5rem;
  line-height: 3.8rem;
  font-weight: 500;
}
.hero-title-extra{
  font-weight: 500;
  font-size: 2.5rem;
  margin: 1rem 0; 
}
.inner-cont{
  margin-bottom: 2.5rem;
}
.main-href{
  text-decoration: none;
}
@media (max-width: 1100px) {
  .home-data-subcont-right{
    padding: 2.5rem;
  }
  .hero-title-1{
    font-size: 1.7rem;
    line-height: 2.1rem;
    font-weight: 500;
  }
  .hero-title-2{
    font-size: 3.2rem;
    line-height: 3.5rem;
    font-weight: 500;
  }
  
}
@media (max-width: 500px) {
  .home {
    height: 40vh;
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-position: 45%;
    /* background-position: center; */
  }
  .home-data-subcont-right{
    padding: 0.4rem;
    width: 45%;
  }
  .hero-title-1{
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 500;
  }
  .hero-title-2{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
  }
  .hero-title-extra{
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0.5rem 0; 
  }
  .inner-cont{
    margin:1rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 850px){
  .home {
    height: 65vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .home-data-subcont-right{
    padding: 2rem;
    width: 38%;
  }
  .hero-title-1{
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-weight: 500;
  }
  .hero-title-2{
    font-size: 2.6rem;
    line-height: 3.3rem;
    font-weight: 500;
  }
}


/* other bg images */
.bg-one{
  background-image: url(https://res.cloudinary.com/learnhat/image/upload/v1648198229/orion-new-website/orion-infinity/End_to_end_copy_2x_ershoi.png);
  height: 50vh;
}
.bg-two{
  background-image: url(https://res.cloudinary.com/learnhat/image/upload/v1648198241/orion-new-website/orion-infinity/Our_Innovative_Workforce_copy_2x_ndxbtr.png);
  height: 50vh;
}