.prof-pics{
    object-fit: cover;
    width: 30rem;
}
.last-card-name{
    font-size: 2rem;
    margin-bottom: 0.5rem;

    
}
.last-card-title{
    font-size: 1.3rem;
}
.last-test-cont{
    padding: 3rem;

}
.card-last{
    background-color: whitesmoke;
}
@media (max-width: 580px) {
    .prof-pics{
        object-fit: cover;
        width: 100%;
    }
  }